@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:wght@400;700&display=swap');

* {box-sizing: border-box;
margin: 0;
padding: 0;}

:root {
    --DarkViolet: hsl(256, 26%, 20%);
    --GrayishBlue: hsl(216, 30%, 68%);
    --VeryDarkViolet: hsl(270, 9%, 17%);
    --DarkGrayishViolet: hsl(273, 4%, 51%);
    --VeryLightGray: hsl(0, 0%, 98%);
}

body {
    font-size: 16px;
    font-family: 'DM Serif Display', serif;
    font-family: 'Karla', sans-serif;

}

@media only screen and (max-width: 999px) {
ul {display: none;
}}

nav   {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

li {display: inline-block;}

h1 {
    margin-bottom: 30px;
}

.header-pic {
width: 100%;
display: block;
}

.header-text {
    color: white;
    background-color: var(--DarkViolet);
    padding: 50px 20px;
    position: relative;
}

.View-plans {
    color: white;
    /*height: 25px;
    width: 90px;*/
    width: fit-content;
    display: block;
    border: white solid 2px;
    padding: 10px;
    text-decoration: none;
    margin: 20px auto;
}
.waves-left {
    position: absolute;
    top: 0;
    left: 0;
}

.waves-right {
    position: absolute;
    right: 0;
    bottom: -60%;
}

/*@media only screen and (min-width: 1000px) {

}*/


